$wht:#f0f8ff;

@mixin box($wid){
    width: $wid;
    box-sizing: border-box;
}

.page-name{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 10px 0;
}
.content{
    display: flex;
    justify-content: space-between;
    margin:7vh 0 100px 0;
    .text{
        @include box(55vw);
        .logo img{
            width: 120px;
        }
        padding: 10px 5vw;
        text-align: justify;
        p{
            margin: 3vw 0;
            font-size: 18px;
            box-sizing: border-box;
        }
        a{
            font-size: 25px;
            font-weight: bold;
            display: block;
            .inst{
                background-size: 30px 30px;
                width: 30px;
                height: 30px;
                background-repeat: no-repeat;
                display: inline-block;
                margin-right: 10px;
            }
        }
    }
    .img{
        margin-right: 5vw;
        @include box(45vw);
        img{
            max-width: 100%;
        }
    }
}

@media (max-width: 835px) {
    .content{
        display: block;
    }
    .text{
        width: 100vw!important;
        font-size: 15px;
    }
    .img{
        margin: 5vw 27vw;
        img{
            width: 70vw;
        }
    }
}
.line{
    color: $wht;
    box-shadow: 0 0 25px $wht,
                0 0 14px $wht;
    height: 1px;
    border-top: $wht 1px solid;
    width: 40vw;
    
    margin: 0 auto;
}
svg{
    height: 40px!important;
}
